.cool-tag-cloud .ctcleft a {
	margin: 0 4px 4px -2px!important;
	display: inline-block!important;  
	height: 25px!important;  
	line-height:22px!important;  
	text-decoration: none!important;  
	padding: 0 10px 0 21px!important;  
	text-shadow: 1px 1px 0 rgba(256,256,256,0.4)!important;  
	white-space: nowrap!important;  
	position: relative!important;  
	border-color: none!important;
	border: none!important;
	transition: none!important;
}	
.cool-tag-cloud .ctcright a {
	margin: 0 17px 4px 0px!important;
	display: inline-block!important;  
	height: 25px!important;  
	line-height:22px!important;
	text-decoration: none!important;  
	padding: 0 5px 0 12px!important;  
	text-shadow: 1px 1px 0 rgba(256,256,256,0.4)!important;  
	white-space: nowrap!important;  
	position: relative!important;  
	border-color: none!important;
	border: none!important;
	transition: none!important;
}

.cool-tag-cloud  .ctcleft a:after { 
	content: ''!important;  
	position: absolute!important;  
	top: 0!important;  
	right: -2px!important;  
	width: 2px!important;  
	height: 25px!important;   
	border: none!important;
	transition: none!important;
}  
.cool-tag-cloud  .ctcright a:after { 
	content: ''!important;  
	position: absolute!important;  
	top: 0!important;  
	right: -17px!important;  
	width: 17px!important;  
	height: 25px!important;   
	border: none!important;
	transition: none!important;
} 

.cool-tag-cloud .ctcleft a:hover { 
	margin: 0 4px 4px -2px!important;
	display: inline-block!important;  
	height: 25px!important;  
	line-height:22px!important; 
	text-decoration: none!important;  
	padding: 0 10px 0 21px!important;  
	text-shadow: 1px 1px 0 rgba(256,256,256,0.4)!important;  
	white-space: nowrap!important;  
	position: relative!important;  
	border-color: none!important;
	border: none!important;
}  
.cool-tag-cloud .ctcright a:hover { 
	margin: 0 17px 4px 0px!important;
	display: inline-block!important;  
	height: 25px!important;  
	line-height:22px!important; 
	text-decoration: none!important;  
	padding: 0 5px 0 12px!important;  
	text-shadow: 1px 1px 0 rgba(256,256,256,0.4)!important;  
	white-space: nowrap!important;  
	position: relative!important;  
	border-color: none!important;
	border: none!important;
} 

.cool-tag-cloud .ctcleft a:hover:after {
  content: ''!important;  
  position: absolute!important;  
  top: 0!important;  
  right: -2px!important;  
  width: 2px!important;  
  height: 25px!important;  
  text-shadow: 1px 1px 0 rgba(256,256,256,0.4)!important;  
}
.cool-tag-cloud .ctcright a:hover:after {
  content: ''!important;  
  position: absolute!important;  
  top: 0!important;  
  right: -17px!important;  
  width: 17px!important;  
  height: 25px!important;  
  text-shadow: 1px 1px 0 rgba(256,256,256,0.4)!important;  
}
.cool-tag-cloud .cloudbold  a{
	font-weight:bold!important;
}
.cool-tag-cloud .animation a:hover, .cool-tag-cloud .animation a:hover:after{
    transition: 250ms!important;
}
.cool-tag-cloud .arial {font-family:Arial, Helvetica, Sans-serif!important}
.cool-tag-cloud .rockwell {font-family:Rockwell, Georgia, Serif!important}
.cool-tag-cloud .tahoma {font-family:Tahoma, Geneva, Sans-serif!important}
.cool-tag-cloud .georgia {font-family:Georgia, Times, Serif!important}
.cool-tag-cloud .times {font-family:Times, Georgia, Serif!important}
.cool-tag-cloud .cambria {font-family:Cambria, Georgia, Serif!important}
.cool-tag-cloud .verdana {font-family:Verdana, Lucida, Sans-serif!important}
.cool-tag-cloud .opensans {font-family:"Open Sans", Helvetica, Arial!important}

.cool-tag-cloud .ctcdefault .ctcleft a {
	background: url(images/default-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcdefault .ctcright a {
	background: url(images/default-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcdefault .ctcleft a:after { 
	background: url(images/default-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcdefault .ctcright a:after { 
	background: url(images/default-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcdefault .ctcleft a:hover {  
	background: url(images/default-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcdefault .ctcright a:hover {  
	background: url(images/default-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcdefault .ctcleft a:hover:after {
	background: url(images/default-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcdefault .ctcright a:hover:after {
	background: url(images/default-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcdefault .ctcleft a:hover, .cool-tag-cloud .ctcdefault .ctcright a:hover ,
.cool-tag-cloud .ctcdefault .ctcright a, .cool-tag-cloud .ctcdefault .ctcleft a,
.cool-tag-cloud .ctcdefault .ctcright a:visited, .cool-tag-cloud .ctcdefault .ctcleft a:visited { 
	color: #963!important;  
}  

.cool-tag-cloud .ctcsilver .ctcleft a {
	background: url(images/silver-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcsilver .ctcright a {
	background: url(images/silver-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcsilver .ctcleft a:after { 
	background: url(images/silver-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcsilver .ctcright a:after { 
	background: url(images/silver-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcsilver .ctcleft a:hover {  
	background: url(images/silver-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcsilver .ctcright a:hover {  
	background: url(images/silver-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcsilver .ctcleft a:hover:after {
	background: url(images/silver-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcsilver .ctcright a:hover:after {
	background: url(images/silver-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcsilver .ctcleft a:hover, .cool-tag-cloud .ctcsilver .ctcright a:hover ,
.cool-tag-cloud .ctcsilver .ctcright a, .cool-tag-cloud .ctcsilver .ctcleft a,
.cool-tag-cloud .ctcsilver .ctcright a:visited, .cool-tag-cloud .ctcsilver .ctcleft a:visited { 
	color: #4F4F4F!important;  
}  

.cool-tag-cloud .ctcgreen .ctcleft a {
	background: url(images/green-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcgreen .ctcright a {
	background: url(images/green-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcgreen .ctcleft a:after { 
	background: url(images/green-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcgreen .ctcright a:after { 
	background: url(images/green-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcgreen .ctcleft a:hover {  
	background: url(images/green-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcgreen .ctcright a:hover {  
	background: url(images/green-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcgreen .ctcleft a:hover:after {
	background: url(images/green-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcgreen .ctcright a:hover:after {
	background: url(images/green-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcgreen .ctcleft a:hover, .cool-tag-cloud .ctcgreen .ctcright a:hover ,
.cool-tag-cloud .ctcgreen .ctcright a, .cool-tag-cloud .ctcgreen .ctcleft a,
.cool-tag-cloud .ctcgreen .ctcright a:visited, .cool-tag-cloud .ctcgreen .ctcleft a:visited { 
	color: #3E7C1F!important;  
}  

.cool-tag-cloud .ctcred .ctcleft a {
	background: url(images/red-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcred .ctcright a {
	background: url(images/red-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcred .ctcleft a:after { 
	background: url(images/red-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcred .ctcright a:after { 
	background: url(images/red-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcred .ctcleft a:hover {  
	background: url(images/red-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcred .ctcright a:hover {  
	background: url(images/red-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcred .ctcleft a:hover:after {
	background: url(images/red-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcred .ctcright a:hover:after {
	background: url(images/red-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcred .ctcleft a:hover, .cool-tag-cloud .ctcred .ctcright a:hover ,
.cool-tag-cloud .ctcred .ctcright a, .cool-tag-cloud .ctcred .ctcleft a,
.cool-tag-cloud .ctcred .ctcright a:visited, .cool-tag-cloud .ctcred .ctcleft a:visited { 
	color: #CD2600!important;  
}  


.cool-tag-cloud .ctcblue .ctcleft a {
	background: url(images/blue-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcblue .ctcright a {
	background: url(images/blue-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcblue .ctcleft a:after { 
	background: url(images/blue-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcblue .ctcright a:after { 
	background: url(images/blue-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcblue .ctcleft a:hover {  
	background: url(images/blue-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcblue .ctcright a:hover {  
	background: url(images/blue-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcblue .ctcleft a:hover:after {
	background: url(images/blue-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcblue .ctcright a:hover:after {
	background: url(images/blue-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcblue .ctcleft a:hover, .cool-tag-cloud .ctcblue .ctcright a:hover ,
.cool-tag-cloud .ctcblue .ctcright a, .cool-tag-cloud .ctcblue .ctcleft a,
.cool-tag-cloud .ctcblue .ctcright a:visited, .cool-tag-cloud .ctcblue .ctcleft a:visited { 
	color: #194A8B!important;  
}  

.cool-tag-cloud .ctcbrown .ctcleft a {
	background: url(images/brown-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcbrown .ctcright a {
	background: url(images/brown-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcbrown .ctcleft a:after { 
	background: url(images/brown-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcbrown .ctcright a:after { 
	background: url(images/brown-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcbrown .ctcleft a:hover {  
	background: url(images/brown-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcbrown .ctcright a:hover {  
	background: url(images/brown-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcbrown .ctcleft a:hover:after {
	background: url(images/brown-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcbrown .ctcright a:hover:after {
	background: url(images/brown-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcbrown .ctcleft a:hover, .cool-tag-cloud .ctcbrown .ctcright a:hover ,
.cool-tag-cloud .ctcbrown .ctcright a, .cool-tag-cloud .ctcbrown .ctcleft a,
.cool-tag-cloud .ctcbrown .ctcright a:visited, .cool-tag-cloud .ctcbrown .ctcleft a:visited { 
	color: #804F2E!important;  
}  

.cool-tag-cloud .ctcpurple .ctcleft a {
	background: url(images/purple-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcpurple .ctcright a {
	background: url(images/purple-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcpurple .ctcleft a:after { 
	background: url(images/purple-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcpurple .ctcright a:after { 
	background: url(images/purple-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcpurple .ctcleft a:hover {  
	background: url(images/purple-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcpurple .ctcright a:hover {  
	background: url(images/purple-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcpurple .ctcleft a:hover:after {
	background: url(images/purple-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcpurple .ctcright a:hover:after {
	background: url(images/purple-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcpurple .ctcleft a:hover, .cool-tag-cloud .ctcpurple .ctcright a:hover ,
.cool-tag-cloud .ctcpurple .ctcright a, .cool-tag-cloud .ctcpurple .ctcleft a,
.cool-tag-cloud .ctcpurple .ctcright a:visited, .cool-tag-cloud .ctcpurple .ctcleft a:visited { 
	color: #91018C!important;  
}  

.cool-tag-cloud .ctccyan .ctcleft a {
	background: url(images/cyan-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctccyan .ctcright a {
	background: url(images/cyan-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctccyan .ctcleft a:after { 
	background: url(images/cyan-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctccyan .ctcright a:after { 
	background: url(images/cyan-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctccyan .ctcleft a:hover {  
	background: url(images/cyan-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctccyan .ctcright a:hover {  
	background: url(images/cyan-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctccyan .ctcleft a:hover:after {
	background: url(images/cyan-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctccyan .ctcright a:hover:after {
	background: url(images/cyan-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctccyan .ctcleft a:hover, .cool-tag-cloud .ctccyan .ctcright a:hover ,
.cool-tag-cloud .ctccyan .ctcright a, .cool-tag-cloud .ctccyan .ctcleft a,
.cool-tag-cloud .ctccyan .ctcright a:visited, .cool-tag-cloud .ctccyan .ctcleft a:visited { 
	color: #004F4F!important;  
}  

.cool-tag-cloud .ctclime .ctcleft a {
	background: url(images/lime-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctclime .ctcright a {
	background: url(images/lime-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctclime .ctcleft a:after { 
	background: url(images/lime-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctclime .ctcright a:after { 
	background: url(images/lime-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctclime .ctcleft a:hover {  
	background: url(images/lime-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctclime .ctcright a:hover {  
	background: url(images/lime-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctclime .ctcleft a:hover:after {
	background: url(images/lime-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctclime .ctcright a:hover:after {
	background: url(images/lime-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctclime .ctcleft a:hover, .cool-tag-cloud .ctclime .ctcright a:hover ,
.cool-tag-cloud .ctclime .ctcright a, .cool-tag-cloud .ctclime .ctcleft a,
.cool-tag-cloud .ctclime .ctcright a:visited, .cool-tag-cloud .ctclime .ctcleft a:visited { 
	color: #026700!important;  
}  


.cool-tag-cloud .ctcblack .ctcleft a {
	background: url(images/black-left.png) no-repeat!important;  
}
.cool-tag-cloud .ctcblack .ctcright a {
	background: url(images/black-right.png) no-repeat!important;  
}
.cool-tag-cloud  .ctcblack .ctcleft a:after { 
	background: url(images/black-left.png) top right no-repeat!important; 
}
.cool-tag-cloud  .ctcblack .ctcright a:after { 
	background: url(images/black-right.png) top right no-repeat!important; 
}
.cool-tag-cloud .ctcblack .ctcleft a:hover {  
	background: url(images/black-left.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcblack .ctcright a:hover {  
	background: url(images/black-right.png) bottom left no-repeat!important;  
}
.cool-tag-cloud .ctcblack .ctcleft a:hover:after {
	background: url(images/black-left.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcblack .ctcright a:hover:after {
	background: url(images/black-right.png) bottom right no-repeat!important; 
}
.cool-tag-cloud .ctcblack .ctcleft a:hover, .cool-tag-cloud .ctcblack .ctcright a:hover ,
.cool-tag-cloud .ctcblack .ctcright a, .cool-tag-cloud .ctcblack .ctcleft a,
.cool-tag-cloud .ctcblack .ctcright a:visited, .cool-tag-cloud .ctcblack .ctcleft a:visited { 
	color: white!important;  
    text-shadow: 1px 1px 0 black!important;  
}  

.cool-tag-cloud-inner {    
    overflow: hidden;
}

.cool-tag-cloud-inner.cool-tag-cloud-active {
    max-height: none !important;
}

.cool-tag-cloud-load-more {
    margin-top: 10px;
    display: block;
}

.cool-tag-cloud-load-more span {
    display: none;
    cursor: pointer;
    font-size: 80%;
    line-height: 1;
    border: 1px solid rgba( 0, 0, 0, 0.3 );
    padding: 6px 10px;
    border-radius: 2px;
}

.cool-tag-cloud-load-more .cool-tag-cloud-open {
    display: inline-block;
}

.cool-tag-cloud-load-more.cool-tag-cloud-active .cool-tag-cloud-open {
    display: none;
}

.cool-tag-cloud-load-more.cool-tag-cloud-active .cool-tag-cloud-close {
    display: inline-block;
}
